<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="form-block fadeIn">
	<img class="logo-small" src="/img/island.png">
	<h2>Islands</h2>
	<hr>

	<ul class="island-list">
		<% for(i=0; i<islands.length; i++) { %>
			<li><a href="/islands/edit/<%= islands[i].name %>"><%= islands[i].name %></a></li>
		<% } %>
	</ul>

	<a class="create-island-btn" href="/islands/create">New Island</a>
</div>

<%- include('../partials/head.ejs') %>
